Repository IgorGanapolsky/Random-Timer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests, cd ios && swiftlint, cd ios && pod install, cd android && ./gradlew ktlintCheck

.lintstagedrc.json:

{
  "**/*.{ts,tsx,json,md}": ["prettier --write"],
  "**/*.{ts,tsx}": ["eslint --fix"],
  "{src,tests}/**/*.{ts,tsx}": ["jest --bail --findRelatedTests --passWithNoTests"],
  "ios/**/*.{h,m,mm,swift}": ["cd ios && swiftlint", "cd ios && pod install"],
  "android/**/*.{java,kt}": ["cd android && ./gradlew ktlintCheck"]
}

fix stale voice callouts parity contract
  scripts/tests/test_timer_defaults_parity.py
Due: none

fix(test): accept new voice callout description copy
  scripts/tests/test_mobile_feature_parity.py
Due: none

refine voice callouts setup copy (#1038)
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/screens/TimerSetupScreen.kt
  native-ios/RandomTimer/Sources/UI/Screens/TimerSetupScreen.swift
  scripts/tests/test_mobile_feature_parity.py
  scripts/tests/test_timer_defaults_parity.py
Due: none

fix(ci): give Maestro smoke test more time on cold emulators
  .maestro/ci-smoke-test.yaml
  scripts/device-tests/ci-maestro.sh
Due: none

fix(copy): voice callouts — drill coach commands, not elapsed-time prompts
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/screens/TimerSetupScreen.kt
  native-ios/RandomTimer/Sources/UI/Screens/TimerSetupScreen.swift
  scripts/tests/test_mobile_feature_parity.py
Due: none

fix(ci): clear app data before Maestro so setup screen is reachable
  scripts/device-tests/ci-maestro.sh
Due: none

fix(android): stabilize Maestro CI (testTag, emulator notification skip)
  .maestro/ci-smoke-test.yaml
  native-android/app/src/main/java/com/iganapolsky/randomtimer/MainActivity.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/screens/TimerSetupScreen.kt
Due: none

fix(ci): Maestro launchApp with clearState for smoke test
  .maestro/ci-smoke-test.yaml
Due: none

feat(observability): Firebase on iOS, PostHog replay, CI hardening (#1020)
  .github/workflows/ci.yml
  .maestro/ci-smoke-test.yaml
  docs/OBSERVABILITY.md
  native-android/app/build.gradle.kts
  native-android/app/src/main/java/com/iganapolsky/randomtimer/MainActivity.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/analytics/AnalyticsService.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/screens/TimerSetupScreen.kt
  native-android/build.gradle.kts
  native-android/gradle/libs.versions.toml
  native-ios/RandomTimer.xcodeproj/project.pbxproj
  native-ios/RandomTimer.xcodeproj/xcshareddata/xcschemes/RandomTimer.xcscheme
  native-ios/RandomTimer/Sources/App/RandomTimerApp.swift
  native-ios/RandomTimer/Sources/Services/AnalyticsService.swift
  scripts/device-tests/ci-maestro.sh
Due: prettier --write

docs(observability): align with shipped stack and CEO setup checklist
  docs/OBSERVABILITY.md
Due: prettier --write

docs(observability): align doc with shipped code + CEO checklist (#1040)
  docs/OBSERVABILITY.md
Due: prettier --write

fix(ci): write GoogleService-Info.plist from secret for iOS release jobs
  .github/workflows/internal-distribution.yml
  .github/workflows/native-release.yml
Due: none

fix(ci): write GoogleService-Info.plist from secret for iOS releases (#1041)
  .github/workflows/internal-distribution.yml
  .github/workflows/native-release.yml
Due: none

feat(observability): executive metrics snapshot + CI workflow
  .github/workflows/executive-metrics.yml
  .gitignore
  scripts/check_crashlytics.py
  scripts/executive_metrics_snapshot.py
  scripts/tests/test_check_crashlytics.py
  scripts/tests/test_executive_metrics_snapshot.py
Due: none

fix(store): replace all store screenshots with fresh captures + marketing overlays
  native-android/fastlane/metadata/android/en-US/images/phoneScreenshots/1_setup.png
  native-android/fastlane/metadata/android/en-US/images/phoneScreenshots/2_active.png
  native-android/fastlane/metadata/android/en-US/images/phoneScreenshots/2_sounds.png
  native-android/fastlane/metadata/android/en-US/images/phoneScreenshots/3_arsenal.png
  native-android/fastlane/metadata/android/en-US/images/phoneScreenshots/3_settings.png
  native-android/fastlane/metadata/android/en-US/images/phoneScreenshots/3_voice.png
  native-android/fastlane/metadata/android/en-US/images/phoneScreenshots/4_loop.png
  native-android/fastlane/metadata/android/en-US/images/phoneScreenshots/4_running.png
  native-ios/fastlane/metadata/en-US/subtitle.txt
  native-ios/fastlane/screenshots/Framefile.json
  native-ios/fastlane/screenshots/en-US/1_setup.png
  native-ios/fastlane/screenshots/en-US/2_active.png
  native-ios/fastlane/screenshots/en-US/2_running.png
  native-ios/fastlane/screenshots/en-US/3_pro.png
  native-ios/fastlane/screenshots/en-US/3_sounds.png
  native-ios/fastlane/screenshots/en-US/5_ipad_setup.png
  native-ios/fastlane/screenshots/en-US/6_ipad_running.png
  native-ios/fastlane/screenshots/en-US/7_ipad_stopped.png
  native-ios/fastlane/screenshots/en-US/keyword.strings
  native-ios/fastlane/screenshots/en-US/title.strings
  native-ios/fastlane/screenshots/generate_overlays.sh
Due: prettier --write

fix: restore iOS storefront creatives
  native-ios/RandomTimerUITests/RandomTimerUITests.swift
  native-ios/fastlane/screenshots/en-US/1_setup.png
  native-ios/fastlane/screenshots/en-US/2_active.png
  native-ios/fastlane/screenshots/en-US/3_alarm.png
  native-ios/fastlane/screenshots/en-US/3_pro.png
  native-ios/fastlane/screenshots/en-US/4_running.png
  native-ios/fastlane/screenshots/en-US/5_ipad_setup.png
  native-ios/fastlane/screenshots/en-US/6_ipad_running.png
  native-ios/fastlane/screenshots/en-US/7_ipad_stopped.png
  native-ios/fastlane/screenshots/en-US/report.json
  scripts/generate_ios_store_creatives.py
  scripts/preflight-release.sh
  scripts/refresh_ios_screenshot_creatives.py
  scripts/release_context.py
  scripts/tests/test_generate_ios_store_creatives.py
  scripts/tests/test_refresh_ios_screenshot_creatives.py
  scripts/tests/test_release_context.py
  tests/playwright/README.md
  tests/playwright/specs/local/store-metadata.local.spec.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

[codex] restore iOS storefront creatives (#1043)
  native-ios/RandomTimerUITests/RandomTimerUITests.swift
  native-ios/fastlane/screenshots/en-US/1_setup.png
  native-ios/fastlane/screenshots/en-US/2_active.png
  native-ios/fastlane/screenshots/en-US/3_alarm.png
  native-ios/fastlane/screenshots/en-US/3_pro.png
  native-ios/fastlane/screenshots/en-US/4_running.png
  native-ios/fastlane/screenshots/en-US/5_ipad_setup.png
  native-ios/fastlane/screenshots/en-US/6_ipad_running.png
  native-ios/fastlane/screenshots/en-US/7_ipad_stopped.png
  native-ios/fastlane/screenshots/en-US/report.json
  scripts/generate_ios_store_creatives.py
  scripts/preflight-release.sh
  scripts/refresh_ios_screenshot_creatives.py
  scripts/release_context.py
  scripts/tests/test_generate_ios_store_creatives.py
  scripts/tests/test_refresh_ios_screenshot_creatives.py
  scripts/tests/test_release_context.py
  tests/playwright/README.md
  tests/playwright/specs/local/store-metadata.local.spec.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix(store): sync all scripts and tests to new screenshot filenames
  .gitignore
  docs/RELEASE.md
  native-ios/RandomTimerUITests/RandomTimerUITests.swift
  native-ios/fastlane/report.xml
  native-ios/fastlane/screenshots/en-US/report.json
  scripts/check_crashlytics.py
  scripts/generate_android_store_creatives.py
  scripts/generate_ios_store_creatives.py
  scripts/refresh_ios_screenshot_creatives.py
  scripts/tests/test_asc_reset_screenshots.py
  scripts/tests/test_refresh_ios_screenshot_creatives.py
  scripts/tests/test_release_context.py
Due: prettier --write

fix: fall back to live iOS metadata when version is locked
  .github/workflows/ios-metadata-sync.yml
  scripts/tests/test_growth_workflow_contracts.py
Due: none

fix(ci): update remaining tests for new screenshot names + subtitle
  scripts/tests/test_generate_android_store_creatives.py
  scripts/tests/test_store_metadata_copy.py
Due: none

fix(ci): use fastlane ios metadata for LIVE ASC sync; refresh screenshot dimension notes
  .github/workflows/ios-metadata-sync.yml
  native-ios/fastlane/screenshots/en-US/originals/agent-device-dimensions.txt
Due: none

fix(crashlytics): handle HTTP error dict in main() CLI path
  scripts/check_crashlytics.py
Due: none

[codex] fall back to live iOS metadata when version is locked (#1044)
  .github/workflows/ios-metadata-sync.yml
  scripts/tests/test_growth_workflow_contracts.py
Due: none

ci: add executive-metrics workflow + snapshot script
  .github/workflows/executive-metrics.yml
Due: none

Create executive_metrics_snapshot.py
  scripts/executive_metrics_snapshot.py
Due: none

Ci/executive metrics workflow (#1046)
  .github/workflows/executive-metrics.yml
  scripts/executive_metrics_snapshot.py
Due: none

fix(crashlytics): point BigQuery queries at random-timer-dist-new
  .github/workflows/ci.yml
  .github/workflows/executive-metrics.yml
  docs/FIREBASE_ANDROID_INFRASTRUCTURE.md
  scripts/check_crashlytics.py
  scripts/tests/test_check_crashlytics.py
Due: prettier --write

fix(asc): add --attach-subscriptions flag to submit script
  .github/workflows/ios-submit-review.yml
  scripts/asc_submit_for_review.py
Due: none

fix(ci): allow forcing live ios metadata sync
  .github/workflows/ios-metadata-sync.yml
Due: none

fix(asc): attach subscriptions to review submissions via API (#1049)
  .github/workflows/ci.yml
  .github/workflows/executive-metrics.yml
  .github/workflows/ios-submit-review.yml
  docs/FIREBASE_ANDROID_INFRASTRUCTURE.md
  scripts/asc_submit_for_review.py
  scripts/check_crashlytics.py
  scripts/tests/test_check_crashlytics.py
Due: prettier --write

fix(asc): bypass early exit when --attach-subscriptions is set
  scripts/asc_submit_for_review.py
Due: none

fix(asc): bypass early exit for subscription attachment (#1050)
  scripts/asc_submit_for_review.py
Due: none

fix(metrics): reduce crashlytics snapshot complexity
  scripts/check_crashlytics.py
  scripts/tests/test_check_crashlytics.py
Due: none

fix(metrics): handle missing crashlytics table selection
  scripts/check_crashlytics.py
  scripts/tests/test_check_crashlytics.py
Due: none

fix(metrics): export crashlytics snapshot for executive workflow
  scripts/check_crashlytics.py
  scripts/tests/test_check_crashlytics.py
Due: none

fix(asc): skip build attachment when version already in review
  scripts/asc_submit_for_review.py
Due: none

fix(asc): address AI review — guard all submitted states + fail on subscription errors
  scripts/asc_submit_for_review.py
Due: none

fix(metrics): export crashlytics snapshot for executive workflow (#1052)
  scripts/check_crashlytics.py
  scripts/tests/test_check_crashlytics.py
Due: none
