Repository IgorGanapolsky/Random-Timer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests, cd ios && swiftlint, cd ios && pod install, cd android && ./gradlew ktlintCheck

.lintstagedrc.json:

{
  "**/*.{ts,tsx,json,md}": ["prettier --write"],
  "**/*.{ts,tsx}": ["eslint --fix"],
  "{src,tests}/**/*.{ts,tsx}": ["jest --bail --findRelatedTests --passWithNoTests"],
  "ios/**/*.{h,m,mm,swift}": ["cd ios && swiftlint", "cd ios && pod install"],
  "android/**/*.{java,kt}": ["cd android && ./gradlew ktlintCheck"]
}

fix(webhook): address Apple notification review blockers
  scripts/check_refunds.py
  scripts/tests/test_check_refunds.py
  server/apple-webhook/package-lock.json
  server/apple-webhook/src/index.ts
  server/apple-webhook/src/verify.ts
Due: prettier --write, eslint --fix

fix(webhook): address remaining review blockers
  scripts/check_refunds.py
  scripts/tests/test_check_refunds.py
  server/apple-webhook/src/verify.ts
Due: prettier --write, eslint --fix

feat(webhook): Apple Server Notifications V2 receiver on Cloudflare Workers (#1184)
  scripts/check_refunds.py
  scripts/executive_metrics_snapshot.py
  scripts/tests/test_check_refunds.py
  server/apple-webhook/README.md
  server/apple-webhook/package-lock.json
  server/apple-webhook/package.json
  server/apple-webhook/src/index.ts
  server/apple-webhook/src/verify.ts
  server/apple-webhook/tsconfig.json
  server/apple-webhook/wrangler.toml
Due: prettier --write, eslint --fix

chore: bump develop to v1.3.21 after release
  native-android/app/build.gradle.kts
  native-android/fastlane/metadata/android/en-US/changelogs/103021.txt
  native-ios/RandomTimer.xcodeproj/project.pbxproj
Due: none

fix(release): keep store changelogs version-code aligned
  .github/workflows/native-release.yml
  native-android/fastlane/metadata/android/en-US/changelogs/103021.txt
  native-ios/fastlane/metadata/en-US/release_notes.txt
  scripts/bump_patch_version.py
  scripts/tests/test_bump_patch_version.py
Due: none

fix(release): avoid regex hotspot in version code parsing
  scripts/bump_patch_version.py
Due: none

chore: bump develop to v1.3.21 after release (#1187)
  .github/workflows/native-release.yml
  native-android/app/build.gradle.kts
  native-ios/RandomTimer.xcodeproj/project.pbxproj
  scripts/bump_patch_version.py
  scripts/tests/test_bump_patch_version.py
Due: none

feat(analytics): add paywall non-conversion diagnostics loop
  .github/workflows/analytics.yml
  native-android/app/src/main/java/com/iganapolsky/randomtimer/analytics/AnalyticsService.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/billing/ProManager.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/navigation/Navigation.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/screens/PaywallSheet.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/viewmodel/TimerViewModel.kt
  native-ios/RandomTimer/Sources/Services/AnalyticsService.swift
  native-ios/RandomTimer/Sources/UI/Screens/PaywallSheet.swift
  scripts/paywall_conversion_report.py
  scripts/tests/test_growth_workflow_contracts.py
  scripts/tests/test_paywall_conversion_report.py
Due: none

fix: remove unverified monthly pro audio claims
  .github/workflows/monthly-pro-content-release.yml
  docs/audio/pro_monthly_audio_strategy.md
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/screens/PaywallSheet.kt
  native-android/app/src/test/java/com/iganapolsky/randomtimer/ui/screens/PaywallSheetTest.kt
  native-ios/RandomTimer/Sources/UI/Screens/PaywallSheet.swift
  native-ios/RandomTimerTests/ProValidationTests.swift
  scripts/tests/test_mobile_feature_parity.py
  scripts/tests/test_workflow_security_contracts.py
Due: prettier --write

fix(analytics): skip iOS fail-reason event on user cancellation
  native-ios/RandomTimer/Sources/UI/Screens/PaywallSheet.swift
Due: none

fix(analytics): track default paywall offer selection
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/screens/PaywallSheet.kt
  native-ios/RandomTimer/Sources/UI/Screens/PaywallSheet.swift
Due: none

fix: reconcile pr labels after checks finish
  .github/workflows/pr-state-machine.yml
  scripts/tests/test_pr_state_machine_workflow.py
Due: none

fix: add public store version readback
  .github/workflows/public-store-version-readback.yml
  scripts/tests/test_verify_public_store_versions.py
  scripts/tests/test_workflow_security_contracts.py
  scripts/verify_public_store_versions.py
Due: none

fix: make legacy audio pack manual fail-fast
  .github/workflows/monthly-audio-pack.yml
  scripts/tests/test_workflow_security_contracts.py
Due: none

fix(ci): consolidate and fix monthly Pro audio pipeline
  .github/workflows/generate-ios-voice-callouts.yml
  .github/workflows/monthly-audio-pack.yml
  .github/workflows/monthly-pro-content-release.yml
  .github/workflows/pro-audio-freshness.yml
  .github/workflows/regenerate-pro-sounds.yml
  scripts/generate_monthly_audio_pack.py
Due: none

fix: avoid untrusted workflow_run checkout
  .github/workflows/public-store-version-readback.yml
  scripts/tests/test_workflow_security_contracts.py
Due: none

fix: repair monthly pro workflow checks
  .github/workflows/monthly-pro-content-release.yml
  scripts/tests/test_workflow_security_contracts.py
Due: none

fix(ci): make ElevenLabs the primary audio engine, Freesound optional bonus
  .github/workflows/monthly-pro-content-release.yml
Due: none

fix: route monthly pro release through trunk
  .github/workflows/monthly-pro-content-release.yml
  scripts/tests/test_workflow_security_contracts.py
Due: none

feat(analytics): add paywall non-conversion diagnostics loop (#1189)
  .github/workflows/analytics.yml
  native-android/app/src/main/java/com/iganapolsky/randomtimer/analytics/AnalyticsService.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/billing/ProManager.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/navigation/Navigation.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/screens/PaywallSheet.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/viewmodel/TimerViewModel.kt
  native-ios/RandomTimer/Sources/Services/AnalyticsService.swift
  native-ios/RandomTimer/Sources/UI/Screens/PaywallSheet.swift
  scripts/paywall_conversion_report.py
  scripts/tests/test_growth_workflow_contracts.py
  scripts/tests/test_paywall_conversion_report.py
Due: none

fix: reconcile PR labels after checks finish (#1191)
  .github/workflows/pr-state-machine.yml
  scripts/tests/test_pr_state_machine_workflow.py
Due: none

fix: add public store version read-back (#1192)
  .github/workflows/monthly-audio-pack.yml
  .github/workflows/public-store-version-readback.yml
  scripts/tests/test_verify_public_store_versions.py
  scripts/tests/test_workflow_security_contracts.py
  scripts/verify_public_store_versions.py
Due: none

fix: remove unverified monthly Pro audio claims (#1190)
  .github/workflows/monthly-pro-content-release.yml
  docs/audio/pro_monthly_audio_strategy.md
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/screens/PaywallSheet.kt
  native-android/app/src/test/java/com/iganapolsky/randomtimer/ui/screens/PaywallSheetTest.kt
  native-ios/RandomTimer/Sources/UI/Screens/PaywallSheet.swift
  native-ios/RandomTimerTests/ProValidationTests.swift
  scripts/tests/test_mobile_feature_parity.py
  scripts/tests/test_workflow_security_contracts.py
Due: prettier --write

fix(ci): use unique voice regeneration branches
  .github/workflows/generate-ios-voice-callouts.yml
  scripts/tests/test_workflow_security_contracts.py
Due: none

chore: strengthen CEO/CTO directive in CLAUDE.md
  CLAUDE.md
Due: prettier --write

fix(ci): enforce monthly Pro publisher contract
  .github/workflows/generate-ios-voice-callouts.yml
  .github/workflows/monthly-pro-content-release.yml
  scripts/generate_monthly_audio_pack.py
  scripts/tests/test_workflow_security_contracts.py
Due: none

fix(ci): consolidate and fix monthly Pro audio pipeline (#1193)
  .github/workflows/generate-ios-voice-callouts.yml
  .github/workflows/monthly-audio-pack.yml
  .github/workflows/monthly-pro-content-release.yml
  .github/workflows/pro-audio-freshness.yml
  .github/workflows/regenerate-pro-sounds.yml
  CLAUDE.md
  scripts/generate_monthly_audio_pack.py
  scripts/tests/test_workflow_security_contracts.py
Due: prettier --write

fix(ci): repair monthly Pro workflow validation
  .github/workflows/generate-ios-voice-callouts.yml
  .github/workflows/monthly-pro-content-release.yml
  scripts/tests/test_workflow_security_contracts.py
Due: none

fix(ci): repair monthly Pro workflow validation (#1199)
  .github/workflows/generate-ios-voice-callouts.yml
  .github/workflows/monthly-pro-content-release.yml
  scripts/tests/test_workflow_security_contracts.py
Due: none

fix(release): add store listing links to every GitHub Release
  .github/workflows/native-release.yml
Due: none

fix(release): add store listing links to every GitHub Release (#1201)
  .github/workflows/native-release.yml
Due: none

fix(paywall): remove first-drill gate blocking Pro purchase
  .maestro/regression-sound-arsenal-paywall-ios.yaml
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/navigation/Navigation.kt
  native-ios/RandomTimer/Sources/UI/Screens/TimerSetupScreen.swift
Due: none

feat(analytics): PostHog paywall default annual experiment
  docs/OBSERVABILITY.md
  docs/POSTHOG_ANALYTICS.md
  docs/workflow.md
  native-android/app/src/main/java/com/iganapolsky/randomtimer/analytics/AnalyticsService.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/analytics/PostHogExperimentKeys.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/navigation/Navigation.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/screens/PaywallSheet.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/viewmodel/TimerViewModel.kt
  native-android/app/src/test/java/com/iganapolsky/randomtimer/analytics/PaywallExperimentVariantsTest.kt
  native-android/app/src/test/java/com/iganapolsky/randomtimer/ui/viewmodel/TimerViewModelAnalyticsTest.kt
  native-ios/RandomTimer/Sources/Services/AnalyticsService.swift
  native-ios/RandomTimer/Sources/UI/Screens/PaywallSheet.swift
  native-ios/RandomTimerTests/ProValidationTests.swift
  wiki/Analytics-Events-Reference.md
Due: prettier --write
