Repository IgorGanapolsky/Random-Timer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests, cd ios && swiftlint, cd ios && pod install, cd android && ./gradlew ktlintCheck

.lintstagedrc.json:

{
  "**/*.{ts,tsx,json,md}": ["prettier --write"],
  "**/*.{ts,tsx}": ["eslint --fix"],
  "{src,tests}/**/*.{ts,tsx}": ["jest --bail --findRelatedTests --passWithNoTests"],
  "ios/**/*.{h,m,mm,swift}": ["cd ios && swiftlint", "cd ios && pod install"],
  "android/**/*.{java,kt}": ["cd android && ./gradlew ktlintCheck"]
}

fix: require Xcode 26 for iOS distribution (#1314)
  .github/workflows/internal-distribution.yml
  .github/workflows/ios-apple-id-release.yml
  .github/workflows/ios-cert-regen.yml
  .github/workflows/ios-metadata-sync.yml
  .github/workflows/ios-submit-review.yml
  .github/workflows/native-release.yml
  scripts/tests/test_ios_distribution_runner.py
Due: none

fix: run iOS review submission on Linux
  .github/workflows/ios-submit-review.yml
  scripts/tests/test_ios_distribution_runner.py
Due: none

fix: provide token to public store readback
  .github/workflows/public-store-version-readback.yml
  scripts/tests/test_workflow_security_contracts.py
Due: none

fix: target current store console states
  scripts/tests/test_workflow_security_contracts.py
  tests/playwright/README.md
  tests/playwright/scripts/verify-store-console-agent-browser.mjs
  tests/playwright/specs/store/store-console-readonly.spec.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix: target current store console states (#1317)
  scripts/tests/test_workflow_security_contracts.py
  tests/playwright/README.md
  tests/playwright/scripts/verify-store-console-agent-browser.mjs
  tests/playwright/specs/store/store-console-readonly.spec.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix: target current store console states
  scripts/tests/test_workflow_security_contracts.py
  tests/playwright/scripts/sync-console-auth-secrets.mjs
Due: none

fix: filter App Store auth state secret (#1318)
  scripts/tests/test_workflow_security_contracts.py
  tests/playwright/scripts/sync-console-auth-secrets.mjs
Due: none

fix: stabilize Play console verification
  scripts/tests/test_workflow_security_contracts.py
  tests/playwright/scripts/verify-store-console-agent-browser.mjs
  tests/playwright/specs/store/store-console-readonly.spec.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix: stabilize Play console verification (#1319)
  scripts/tests/test_workflow_security_contracts.py
  tests/playwright/scripts/verify-store-console-agent-browser.mjs
  tests/playwright/specs/store/store-console-readonly.spec.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix: install agent-browser headless shell
  .github/workflows/store-console-verification.yml
  scripts/tests/test_workflow_security_contracts.py
Due: none

fix: install agent-browser headless shell (#1320)
  .github/workflows/store-console-verification.yml
  scripts/tests/test_workflow_security_contracts.py
Due: none

fix: install agent-browser playwright shell
  .github/workflows/store-console-verification.yml
  scripts/tests/test_workflow_security_contracts.py
Due: none

fix: install agent-browser playwright shell (#1321)
  .github/workflows/store-console-verification.yml
  scripts/tests/test_workflow_security_contracts.py
Due: none

fix: install agent-browser chromium shell revision
  .github/workflows/store-console-verification.yml
  scripts/tests/test_workflow_security_contracts.py
Due: none

fix: install agent-browser chromium shell revision (#1322)
  .github/workflows/store-console-verification.yml
  scripts/tests/test_workflow_security_contracts.py
Due: none

fix: make agent-browser console check advisory
  .github/workflows/store-console-verification.yml
  scripts/tests/test_workflow_security_contracts.py
  tests/playwright/README.md
  tests/playwright/scripts/verify-store-console-agent-browser.mjs
Due: prettier --write

fix: make agent-browser console check advisory (#1323)
  .github/workflows/store-console-verification.yml
  scripts/tests/test_workflow_security_contracts.py
  tests/playwright/README.md
  tests/playwright/scripts/verify-store-console-agent-browser.mjs
Due: prettier --write

Fix iOS Firebase bootstrap crash fallback
  native-ios/RandomTimer/Sources/App/RandomTimerApp.swift
  scripts/regression_guards.py
Due: none

fix: parse escaped dotenv quotes
  scripts/repo_dotenv.py
  scripts/tests/test_repo_dotenv.py
Due: none

fix: parse escaped dotenv quotes (#1325)
  scripts/repo_dotenv.py
  scripts/tests/test_repo_dotenv.py
Due: none

fix: wait for Android billing reconnect
  native-android/app/src/main/java/com/iganapolsky/randomtimer/billing/ProManager.kt
  scripts/tests/test_mobile_feature_parity.py
Due: none

fix: wait for Android billing reconnect (#1326)
  native-android/app/src/main/java/com/iganapolsky/randomtimer/billing/ProManager.kt
  scripts/tests/test_mobile_feature_parity.py
Due: none

chore: cut release v1.3.30
  native-android/app/build.gradle.kts
  native-android/fastlane/metadata/android/en-US/changelogs/1777931559.txt
  native-ios/RandomTimer.xcodeproj/project.pbxproj
  release-notes/1.3.30.md
Due: prettier --write

chore: add workflow diagnostic offer
  .claude/plugins/rlhf/plugin.json
  .claude/settings.json
  marketing/posts/2026-05-07-workflow-diagnostic-offer.md
Due: prettier --write

chore: remove corporate tool references and move root metadata to .claude
  .claude/HEARTBEAT.md
  .claude/IDENTITY.md
  .claude/SOUL.md
  .claude/TOOLS.md
  .claude/USER.md
  .github/issue-management.yml
  docs/GEMINI.md
Due: prettier --write

docs: add operator close packet for revenue ops
  docs/reports/gtm/2026-05-07-money-today/operator-close-packet.md
Due: prettier --write

chore: add ASO and backlink referral growth content
  docs/reports/gtm/2026-05-07-money-today/aso_keyword_rotation.md
  docs/reports/gtm/2026-05-07-money-today/backlinks_referral_report.md
  docs/reports/gtm/2026-05-07-money-today/cro_optimization.md
  marketing/keywords/rotation_history.json
  marketing/referral_content/product_hunt_launch.md
  marketing/referral_content/stackoverflow_watchlist.md
Due: prettier --write

chore: add paid acquisition seed report (advisory only)
  docs/reports/gtm/2026-05-07-money-today/paid_acquisition_seed.md
Due: prettier --write

docs: finalize GTM close packet with v1.3.30 release status
  docs/reports/gtm/2026-05-07-money-today/operator-close-packet.md
Due: prettier --write

revert(android): drop FOREGROUND_SERVICE_MEDIA_PLAYBACK (unblocks v1.3.27 Play upload) (#1281)
  native-android/app/src/main/AndroidManifest.xml
Due: none

chore: release v1.3.32 recovery
  .openclaw/workspace-state.json
  marketing/data/cro_experiments.json
  marketing/data/paid_campaigns.json
  marketing/data/referral_campaigns.json
  native-android/app/build.gradle.kts
  native-android/fastlane/metadata/android/en-US/changelogs/1774900011.txt
  native-android/fastlane/metadata/android/en-US/changelogs/1774900012.txt
  native-android/fastlane/metadata/android/en-US/changelogs/1774900013.txt
  native-android/fastlane/metadata/android/en-US/changelogs/1774900014.txt
  native-android/fastlane/metadata/android/en-US/changelogs/1774900015.txt
  native-android/fastlane/metadata/android/ja/short_description.txt
  native-android/fastlane/metadata/android/ja/title.txt
  native-android/fastlane/metadata/android/ko/short_description.txt
  native-android/fastlane/metadata/android/ko/title.txt
  native-ios/RandomTimer.xcodeproj/project.pbxproj
  native-ios/fastlane/metadata/en-US/keywords.txt
  push.sh
Due: prettier --write
