Repository IgorGanapolsky/Random-Timer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests, cd ios && swiftlint, cd ios && pod install, cd android && ./gradlew ktlintCheck

.lintstagedrc.json:

{
  "**/*.{ts,tsx,json,md}": ["prettier --write"],
  "**/*.{ts,tsx}": ["eslint --fix"],
  "{src,tests}/**/*.{ts,tsx}": ["jest --bail --findRelatedTests --passWithNoTests"],
  "ios/**/*.{h,m,mm,swift}": ["cd ios && swiftlint", "cd ios && pod install"],
  "android/**/*.{java,kt}": ["cd android && ./gradlew ktlintCheck"]
}

feat(timer): reduce default max seconds from 300 to 30 and update UI labels
  marketing/data/bot_traffic_summary.json
  marketing/data/bot_traffic_summary.md
  marketing/data/north_star.json
  marketing/data/north_star_ops.json
  marketing/data/north_star_ops.md
  marketing/data/posts.jsonl
  marketing/data/store_downloads.json
  marketing/site/PRIVACY_POLICY/index.html
  marketing/site/agents.md
  marketing/site/index.html
  marketing/site/llms.txt
  marketing/site/posts/2026-02-19-the-inspiration-behind-random-tactical-timer.html
  marketing/site/posts/2026-03-11-how-we-implemented-agentic-merchant-protocol-amp-for-ai-discovery.html
  marketing/site/privacy-policy/index.html
  marketing/site/sitemap.xml
  native-android/app/build.gradle.kts
  native-android/app/src/main/java/com/iganapolsky/randomtimer/domain/model/TimerConfig.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/screens/TimerSetupScreen.kt
  native-ios/RandomTimer/Sources/UI/Screens/TimerSetupScreen.swift
  native-ios/SharedModels/TimerModels.swift
Due: prettier --write

feat(activation): lower default range to 30s + tactical UI labels + mental readiness content
  marketing/keywords/keyword_backlog.md
  marketing/posts/2026-03-24-mental-readiness-what-we-learned-building-random-tactical-timer.md
Due: prettier --write

fix(ci): stop treating readonly store checks as production deploys
  .github/workflows/store-console-verification.yml
Due: none

fix(store): verify real console states and fail false-success paths
  .github/workflows/native-release.yml
  .github/workflows/store-console-verification.yml
  scripts/play_publish.py
  scripts/tests/test_play_publish.py
  tests/playwright/README.md
  tests/playwright/scripts/ensure-play-production-countries.mjs
  tests/playwright/scripts/save-auth-state-from-cdp.mjs
  tests/playwright/scripts/save-auth-state.mjs
  tests/playwright/scripts/sync-console-auth-secrets.mjs
  tests/playwright/specs/store/store-console-readonly.spec.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix(android): bump version code for Play upload
  native-android/app/build.gradle.kts
  native-android/fastlane/metadata/android/en-US/changelogs/1773900001.txt
Due: none

fix(ci): clarify Google Play API errors when GCP project is deleted
  scripts/check_store_access.py
Due: none

fix(ui): rename badge from "Voice On" to "Voice Callouts On" on both platforms
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/screens/ActiveTimerScreen.kt
  native-ios/RandomTimer/Sources/UI/Screens/ActiveTimerScreen.swift
Due: none

fix(ios): add changelog to TestFlight external distribution
  native-ios/fastlane/Fastfile
Due: none

fix(test): update voice badge text assertions to match new copy
  native-android/app/src/test/java/com/iganapolsky/randomtimer/ui/screens/ActiveTimerScreenBadgeTextTest.kt
Due: none

fix(voice): make Pro callouts audible on short timers
  native-android/app/src/main/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManager.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/service/TimerForegroundService.kt
  native-android/app/src/test/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManagerSelectionTest.kt
  native-ios/RandomTimer/Sources/Services/AIVoiceCalloutService.swift
  native-ios/RandomTimer/Sources/Services/TimerManager.swift
  native-ios/RandomTimerTests/AIVoiceCalloutServiceTests.swift
Due: none

chore: bump version to 1.3.12 for Play production upload
  native-android/app/build.gradle.kts
  native-android/fastlane/metadata/android/en-US/changelogs/1773900001.txt
  native-ios/RandomTimer.xcodeproj/project.pbxproj
  native-ios/fastlane/metadata/en-US/release_notes.txt
Due: none

fix(ui): Voice Callouts badge, TestFlight changelog, voice interval 30-45s, swiftlint crash fix
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/screens/ActiveTimerScreen.kt
  native-android/app/src/test/java/com/iganapolsky/randomtimer/ui/screens/ActiveTimerScreenBadgeTextTest.kt
  native-ios/RandomTimer/Sources/UI/Screens/ActiveTimerScreen.swift
  native-ios/fastlane/Fastfile
Due: none

chore: bump version to 1.3.13 (versionCode 1773900002 for Play)
  native-android/app/build.gradle.kts
  native-android/fastlane/metadata/android/en-US/changelogs/1773900002.txt
  native-ios/RandomTimer.xcodeproj/project.pbxproj
  native-ios/fastlane/metadata/en-US/release_notes.txt
Due: none

chore: set Android versionCode 1773900033 (Play max+1) for v1.3.14
  native-android/app/build.gradle.kts
  native-android/fastlane/metadata/android/en-US/changelogs/1773900033.txt
  native-ios/RandomTimer.xcodeproj/project.pbxproj
  native-ios/fastlane/metadata/en-US/release_notes.txt
Due: none

fix(android): resize Play listing icon to 512x512 per API requirements
  native-android/fastlane/metadata/android/en-US/images/icon.png
Due: none

chore: wire memory gateway verification
  .codex/instructions.md
  .cursor/mcp.json
  .gitignore
  .mcp.json
  .rlhf/.watcher-offset
  .rlhf/README.md
  .rlhf/audit-trail.jsonl
  .rlhf/config.json
  AGENTS.md
  CLAUDE.md
  Makefile
  scripts/verify_memory_gateway.sh
Due: prettier --write

fix(ci): parse Android versionCode when using ciVersionCode ?: fallback
  .github/workflows/native-release.yml
Due: none

fix(android): sync voice_callouts.json with iOS for catalog parity tests
  native-android/app/src/main/assets/voice_callouts.json
Due: prettier --write

test(ios): align voice badge assertions with Voice Callouts copy
  native-ios/RandomTimerTests/CircularTimerViewTests.swift
Due: none

fix(e2e): update Maestro assertions to match current UI, unify Android icon
  .maestro/ios-smoke-test.yaml
  .maestro/regression-voice-focus-ios.yaml
  .maestro/smoke-test.yaml
  native-android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  native-android/app/src/main/res/mipmap-hdpi/ic_launcher_legacy.png
  native-android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  native-android/app/src/main/res/mipmap-mdpi/ic_launcher_legacy.png
  native-android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  native-android/app/src/main/res/mipmap-xhdpi/ic_launcher_legacy.png
  native-android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  native-android/app/src/main/res/mipmap-xxhdpi/ic_launcher_legacy.png
  native-android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  native-android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_legacy.png
Due: none

fix(ci): parse Android versionCode and iOS marketing version for release verify
  .github/workflows/native-release.yml
  native-android/app/src/main/assets/voice_callouts.json
  native-ios/RandomTimerTests/CircularTimerViewTests.swift
Due: prettier --write

fix(e2e): update Maestro assertions, unify Android icon (#881)
  .maestro/ios-smoke-test.yaml
  .maestro/regression-voice-focus-ios.yaml
  .maestro/smoke-test.yaml
  native-android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  native-android/app/src/main/res/mipmap-hdpi/ic_launcher_legacy.png
  native-android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  native-android/app/src/main/res/mipmap-mdpi/ic_launcher_legacy.png
  native-android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  native-android/app/src/main/res/mipmap-xhdpi/ic_launcher_legacy.png
  native-android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  native-android/app/src/main/res/mipmap-xxhdpi/ic_launcher_legacy.png
  native-android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  native-android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_legacy.png
Due: none

fix(pro): restore range profiles and start voice cues immediately
  native-android/app/src/main/java/com/iganapolsky/randomtimer/domain/model/TimerConfig.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManager.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/service/TimerForegroundService.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/screens/TimerSetupScreen.kt
  native-android/app/src/test/java/com/iganapolsky/randomtimer/domain/model/TimerConfigTest.kt
  native-android/app/src/test/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManagerSelectionTest.kt
  native-ios/RandomTimer/Sources/Services/AIVoiceCalloutService.swift
  native-ios/RandomTimer/Sources/Services/TimerManager.swift
  native-ios/RandomTimer/Sources/UI/Screens/TimerSetupScreen.swift
  native-ios/RandomTimerTests/AIVoiceCalloutServiceTests.swift
  native-ios/RandomTimerTests/TimerModelsTests.swift
  native-ios/SharedModels/TimerModels.swift
Due: none

fix(voice): set callouts to exactly 30s intervals, no randomness
  native-android/app/src/main/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManager.kt
  native-ios/RandomTimer/Sources/Services/AIVoiceCalloutService.swift
Due: none

fix(ios): default extended AppStorage max to maxSecondsPro
  native-ios/RandomTimer/Sources/UI/Screens/TimerSetupScreen.swift
Due: none

test(voice): align followup cue expectations with 30s interval and <=29s cap
  native-android/app/src/test/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManagerSelectionTest.kt
  native-ios/RandomTimerTests/AIVoiceCalloutServiceTests.swift
Due: none

fix: pro range AppStorage default and voice followup test parity
  native-android/app/src/main/java/com/iganapolsky/randomtimer/domain/model/TimerConfig.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManager.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/service/TimerForegroundService.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/screens/TimerSetupScreen.kt
  native-android/app/src/test/java/com/iganapolsky/randomtimer/domain/model/TimerConfigTest.kt
  native-android/app/src/test/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManagerSelectionTest.kt
  native-ios/RandomTimer/Sources/Services/AIVoiceCalloutService.swift
  native-ios/RandomTimer/Sources/Services/TimerManager.swift
  native-ios/RandomTimer/Sources/UI/Screens/TimerSetupScreen.swift
  native-ios/RandomTimerTests/AIVoiceCalloutServiceTests.swift
  native-ios/RandomTimerTests/TimerModelsTests.swift
  native-ios/SharedModels/TimerModels.swift
Due: none

docs: PR hygiene notes and PAT security (no secrets in repo)
  AGENTS.md
  CLAUDE.md
  docs/GEMINI.md
Due: prettier --write

docs: session hygiene and PAT security notes
  AGENTS.md
  CLAUDE.md
  docs/GEMINI.md
Due: prettier --write

fix(android): use USAGE_MEDIA for voice callouts so they play on media volume
  native-android/app/src/main/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManager.kt
Due: none

docs: technical debt baseline audit report 2026-03-26
  docs/reports/technical-debt-audit-2026-03-26.md
Due: prettier --write

fix(android): use USAGE_MEDIA for voice callouts (#885)
  native-android/app/src/main/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManager.kt
Due: none

docs: technical debt baseline audit 2026-03-26 (#886)
  docs/reports/technical-debt-audit-2026-03-26.md
Due: prettier --write

fix(ios): reactivate voice audio session before cues
  native-ios/RandomTimer/Sources/Services/AIVoiceCalloutService.swift
  native-ios/RandomTimerTests/AIVoiceCalloutServiceTests.swift
Due: none

fix(ios): reactivate voice audio session before cues (#887)
  native-ios/RandomTimer/Sources/Services/AIVoiceCalloutService.swift
  native-ios/RandomTimerTests/AIVoiceCalloutServiceTests.swift
Due: none

fix(voice): callouts at 30s intervals only, no immediate speak on start
  native-android/app/src/main/assets/voice_callouts.json
  native-android/app/src/main/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManager.kt
  native-ios/RandomTimer/Resources/Audio/voice_callouts.json
  native-ios/RandomTimer/Sources/Services/AIVoiceCalloutService.swift
Due: prettier --write

fix(test): update elapsed cue count assertions to 12 after removing 15s-interval cues
  native-android/app/src/test/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManagerSelectionTest.kt
  native-ios/RandomTimerTests/AIVoiceCalloutServiceTests.swift
Due: none

fix(voice): callouts at 30s intervals only, no immediate speak (#888)
  native-android/app/src/main/assets/voice_callouts.json
  native-android/app/src/main/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManager.kt
  native-android/app/src/test/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManagerSelectionTest.kt
  native-ios/RandomTimer/Resources/Audio/voice_callouts.json
  native-ios/RandomTimer/Sources/Services/AIVoiceCalloutService.swift
  native-ios/RandomTimerTests/AIVoiceCalloutServiceTests.swift
Due: prettier --write

fix(voice): disable command cues, only elapsed cues at 30s intervals
  native-android/app/src/main/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManager.kt
  native-ios/RandomTimer/Sources/Services/AIVoiceCalloutService.swift
Due: none

fix(voice): elapsed cues only, no command cues (#891)
  native-android/app/src/main/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManager.kt
  native-ios/RandomTimer/Sources/Services/AIVoiceCalloutService.swift
Due: none
