Repository IgorGanapolsky/Random-Timer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests, cd ios && swiftlint, cd ios && pod install, cd android && ./gradlew ktlintCheck

fix(ci): default internal Android delivery to Play while Play Protect appeal is pending (#890)
  .github/workflows/internal-distribution.yml
  docs/RELEASE.md
Due: prettier --write

fix(android): stop voice playback immediately on timer stop
  native-android/app/src/main/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManager.kt
Due: none

fix(voice): randomize timer callouts at 30s cadence
  native-android/app/src/main/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManager.kt
  native-ios/RandomTimer/Sources/Services/AIVoiceCalloutService.swift
  native-ios/RandomTimerTests/AIVoiceCalloutServiceTests.swift
Due: none

feat(paywall): enforce monthly pro audio promise
  .github/workflows/pro-audio-freshness.yml
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/screens/PaywallSheet.kt
  native-android/app/src/test/java/com/iganapolsky/randomtimer/ui/screens/PaywallSheetTest.kt
  native-ios/RandomTimer/Sources/UI/Screens/PaywallSheet.swift
  native-ios/RandomTimerTests/ProValidationTests.swift
  scripts/pro_audio_freshness.py
  scripts/tests/test_pro_audio_freshness.py
Due: none

fix(paywall): lock hidden unlock hold to 8s
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/screens/PaywallSheet.kt
  native-android/app/src/test/java/com/iganapolsky/randomtimer/ui/screens/PaywallSheetTest.kt
  native-ios/RandomTimer/Sources/UI/Screens/PaywallSheet.swift
  native-ios/RandomTimerTests/ProValidationTests.swift
Due: none

fix(voice): announce elapsed time on minute marks only
  native-android/app/src/main/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManager.kt
  native-android/app/src/test/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManagerSelectionTest.kt
  native-ios/RandomTimer/Sources/Services/AIVoiceCalloutService.swift
  native-ios/RandomTimerTests/AIVoiceCalloutServiceTests.swift
Due: none

test: align parity checks with voice and paywall updates
  scripts/tests/test_mobile_feature_parity.py
  scripts/tests/test_timer_defaults_parity.py
Due: none

feat(paywall): sharpen pro value proposition
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/screens/PaywallSheet.kt
  native-android/app/src/test/java/com/iganapolsky/randomtimer/ui/screens/PaywallSheetTest.kt
  native-ios/RandomTimer/Sources/UI/Screens/PaywallSheet.swift
  native-ios/RandomTimerTests/ProValidationTests.swift
Due: none

fix(voice): randomize timer callouts at 30s cadence (#894)
  .github/workflows/pro-audio-freshness.yml
  native-android/app/src/main/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManager.kt
  native-android/app/src/main/java/com/iganapolsky/randomtimer/ui/screens/PaywallSheet.kt
  native-android/app/src/test/java/com/iganapolsky/randomtimer/service/AIVoiceCalloutManagerSelectionTest.kt
  native-android/app/src/test/java/com/iganapolsky/randomtimer/ui/screens/PaywallSheetTest.kt
  native-ios/RandomTimer/Sources/Services/AIVoiceCalloutService.swift
  native-ios/RandomTimer/Sources/UI/Screens/PaywallSheet.swift
  native-ios/RandomTimerTests/AIVoiceCalloutServiceTests.swift
  native-ios/RandomTimerTests/ProValidationTests.swift
  scripts/pro_audio_freshness.py
  scripts/tests/test_mobile_feature_parity.py
  scripts/tests/test_pro_audio_freshness.py
  scripts/tests/test_timer_defaults_parity.py
Due: none

fix(ci): improve deleted-project Play API remediation
  scripts/check_store_access.py
  scripts/tests/test_check_store_access.py
Due: none

fix(ci): improve deleted-project Play API remediation (#902)
  scripts/check_store_access.py
  scripts/tests/test_check_store_access.py
Due: none

fix(store): extract release-truth and console verification remediations
  .github/workflows/native-release.yml
  .github/workflows/store-console-verification.yml
  scripts/play_publish.py
  scripts/tests/test_growth_workflow_contracts.py
  scripts/tests/test_play_publish.py
  tests/playwright/scripts/ensure-play-production-countries.mjs
  tests/playwright/scripts/save-auth-state-from-cdp.mjs
  tests/playwright/scripts/save-auth-state.mjs
  tests/playwright/scripts/sync-console-auth-secrets.mjs
  tests/playwright/specs/store/store-console-readonly.spec.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix(tests): replace store console hard waits with explicit waits
  tests/playwright/specs/store/store-console-readonly.spec.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix(store): extract release-truth and console verification remediations (#903)
  .github/workflows/native-release.yml
  .github/workflows/store-console-verification.yml
  scripts/play_publish.py
  scripts/tests/test_growth_workflow_contracts.py
  scripts/tests/test_play_publish.py
  tests/playwright/scripts/ensure-play-production-countries.mjs
  tests/playwright/scripts/save-auth-state-from-cdp.mjs
  tests/playwright/scripts/save-auth-state.mjs
  tests/playwright/scripts/sync-console-auth-secrets.mjs
  tests/playwright/specs/store/store-console-readonly.spec.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix(repo): tighten hygiene rules and remove fake memory backends
  AGENTS.md
  CLAUDE.md
  docs/APP_STORE_VERSION_AUTOMATION.md
  docs/FIREBASE_ANDROID_INFRASTRUCTURE.md
  docs/RELEASE.md
  docs/reports/release-proof-2026-02-26.md
  marketing/data/posts.jsonl
  native-android/fastlane/Appfile
  native-ios/RandomTimerUITests/RandomTimerUITests.swift
  native-ios/upload_to_testflight.py
  scripts/capture_ios_store_screenshots.sh
  scripts/device-tests/adb/lib/common.sh
  scripts/growth_content_pipeline.py
  scripts/hygiene-check.sh
  scripts/sync_android_metadata.py
  scripts/tests/test_repo_hygiene_contracts.py
  scripts/verify_release.py
Due: prettier --write

fix(repo): deep hygiene cleanup (#904)
  AGENTS.md
  CLAUDE.md
  docs/APP_STORE_VERSION_AUTOMATION.md
  docs/FIREBASE_ANDROID_INFRASTRUCTURE.md
  docs/RELEASE.md
  docs/reports/release-proof-2026-02-26.md
  marketing/data/posts.jsonl
  native-android/fastlane/Appfile
  native-ios/RandomTimerUITests/RandomTimerUITests.swift
  native-ios/upload_to_testflight.py
  scripts/capture_ios_store_screenshots.sh
  scripts/device-tests/adb/lib/common.sh
  scripts/growth_content_pipeline.py
  scripts/hygiene-check.sh
  scripts/sync_android_metadata.py
  scripts/tests/test_repo_hygiene_contracts.py
  scripts/verify_release.py
Due: prettier --write

docs: surface PR automation stack and bugbot contract
  .github/COPILOT_SETUP.md
  BUGBOT.md
  README.md
  scripts/hygiene-check.sh
  scripts/tests/test_pr_automation_docs.py
  scripts/tests/test_repo_hygiene_contracts.py
Due: prettier --write

test: avoid false Sonar hotspot in hygiene contract
  scripts/tests/test_repo_hygiene_contracts.py
Due: none

test: build hygiene temp paths without literals
  scripts/tests/test_repo_hygiene_contracts.py
Due: none

docs: surface PR automation stack and bugbot contract (#905)
  .github/COPILOT_SETUP.md
  BUGBOT.md
  README.md
  scripts/hygiene-check.sh
  scripts/tests/test_pr_automation_docs.py
  scripts/tests/test_repo_hygiene_contracts.py
Due: prettier --write

fix(ci): remediate Sonar workflow hotspots
  .github/workflows/android17-canary.yml
  .github/workflows/device-tests.yml
  .github/workflows/enforce-develop-to-main.yml
  .github/workflows/internal-distribution.yml
  .github/workflows/pause-paid-campaigns.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/weekly-attribution-feedback.yml
  .github/workflows/wiki-sync.yml
  scripts/add_ios_audio_assets.py
  scripts/source_versions.py
  scripts/tests/test_apple_ads_live_metrics.py
  scripts/tests/test_paid_acquisition_seed.py
  scripts/tests/test_repo_hygiene_contracts.py
  scripts/tests/test_workflow_security_contracts.py
Due: none

hotfix(ci): align main PR automation and Sonar hygiene
  .github/COPILOT_SETUP.md
  .github/workflows/android17-canary.yml
  .github/workflows/device-tests.yml
  .github/workflows/enforce-develop-to-main.yml
  .github/workflows/internal-distribution.yml
  .github/workflows/pause-paid-campaigns.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/weekly-attribution-feedback.yml
  .github/workflows/wiki-sync.yml
  AGENTS.md
  BUGBOT.md
  CLAUDE.md
  README.md
  REVIEW.md
  marketing/data/posts.jsonl
  native-android/fastlane/Appfile
  native-ios/RandomTimerUITests/RandomTimerUITests.swift
  native-ios/upload_to_testflight.py
  scripts/add_ios_audio_assets.py
  scripts/capture_ios_store_screenshots.sh
  scripts/device-tests/adb/lib/common.sh
  scripts/growth_content_pipeline.py
  scripts/hygiene-check.sh
  scripts/source_versions.py
  scripts/tests/test_apple_ads_live_metrics.py
  scripts/tests/test_paid_acquisition_seed.py
  scripts/tests/test_pr_automation_docs.py
  scripts/tests/test_repo_hygiene_contracts.py
  scripts/tests/test_workflow_security_contracts.py
Due: prettier --write

fix(ci): remediate Sonar workflow hotspots (#906)
  .github/workflows/android17-canary.yml
  .github/workflows/device-tests.yml
  .github/workflows/enforce-develop-to-main.yml
  .github/workflows/internal-distribution.yml
  .github/workflows/pause-paid-campaigns.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/weekly-attribution-feedback.yml
  .github/workflows/wiki-sync.yml
  scripts/add_ios_audio_assets.py
  scripts/source_versions.py
  scripts/tests/test_apple_ads_live_metrics.py
  scripts/tests/test_paid_acquisition_seed.py
  scripts/tests/test_repo_hygiene_contracts.py
  scripts/tests/test_workflow_security_contracts.py
Due: none

feat: autonomous WQTU dashboard, release readiness gate, and post-release verification
  .github/workflows/store-console-verification.yml
  .github/workflows/wqtu-health.yml
  scripts/release_readiness_gate.py
  scripts/tests/test_wqtu_dashboard.py
  scripts/wqtu_dashboard.py
Due: none

hotfix(ci): align main PR automation and Sonar hygiene (#907)
  .github/COPILOT_SETUP.md
  .github/workflows/android17-canary.yml
  .github/workflows/device-tests.yml
  .github/workflows/enforce-develop-to-main.yml
  .github/workflows/internal-distribution.yml
  .github/workflows/pause-paid-campaigns.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/weekly-attribution-feedback.yml
  .github/workflows/wiki-sync.yml
  AGENTS.md
  BUGBOT.md
  CLAUDE.md
  README.md
  REVIEW.md
  marketing/data/posts.jsonl
  native-android/fastlane/Appfile
  native-ios/RandomTimerUITests/RandomTimerUITests.swift
  native-ios/upload_to_testflight.py
  scripts/add_ios_audio_assets.py
  scripts/capture_ios_store_screenshots.sh
  scripts/device-tests/adb/lib/common.sh
  scripts/growth_content_pipeline.py
  scripts/hygiene-check.sh
  scripts/source_versions.py
  scripts/tests/test_apple_ads_live_metrics.py
  scripts/tests/test_paid_acquisition_seed.py
  scripts/tests/test_pr_automation_docs.py
  scripts/tests/test_repo_hygiene_contracts.py
  scripts/tests/test_workflow_security_contracts.py
Due: prettier --write

fix(ci): remove temp-path hotspots from hygiene test
  scripts/tests/test_repo_hygiene_contracts.py
Due: none

fix(test): relax icon pixel diff threshold from 0.5 to 1.0
  scripts/tests/test_ios_icon_asset_integrity.py
Due: none

fix(ci): remove temp-path hotspots from hygiene test (#909)
  scripts/tests/test_repo_hygiene_contracts.py
Due: none

fix(ci): guard workflow_run on success, skip icon test when source missing
  .github/workflows/store-console-verification.yml
  scripts/tests/test_ios_icon_asset_integrity.py
Due: none

docs: refresh PR automation status note
  README.md
Due: prettier --write

feat: autonomous WQTU dashboard, release readiness gate, post-release verification
  .github/workflows/store-console-verification.yml
  .github/workflows/wqtu-health.yml
  native-android/fastlane/metadata/android/en-US/images/icon.png
  scripts/release_readiness_gate.py
  scripts/tests/test_ios_icon_asset_integrity.py
  scripts/tests/test_wqtu_dashboard.py
  scripts/wqtu_dashboard.py
Due: none

hotfix(docs): refresh PR automation status note (#911)
  README.md
Due: prettier --write

docs: refresh PR automation status note (#910)
  README.md
Due: prettier --write

fix(ci): remove insecure URL in WQTU dashboard test
  scripts/tests/test_wqtu_dashboard.py
Due: none

fix(ci): remove insecure URL in WQTU dashboard test (#913)
  scripts/tests/test_wqtu_dashboard.py
Due: none

fix(hygiene): ignore local artifact buckets
  .gitignore
  scripts/tests/test_repo_hygiene_contracts.py
Due: none

fix(hygiene): ignore local artifact buckets (#914)
  .gitignore
  scripts/tests/test_repo_hygiene_contracts.py
Due: none

docs(readme): tighten PR bot evidence
  README.md
Due: prettier --write

docs(readme): tighten PR bot evidence (#915)
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,json,md}
  eslint --fix: any of: **/*.{ts,tsx}
  jest --bail --findRelatedTests --passWithNoTests: any of: {src,tests}/**/*.{ts,tsx}
  cd ios && swiftlint: any of: ios/**/*.{h,m,mm,swift}
  cd ios && pod install: any of: ios/**/*.{h,m,mm,swift}
  cd android && ./gradlew ktlintCheck: any of: android/**/*.{java,kt}
