Repository IgorGanapolsky/Random-Timer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests, cd ios && swiftlint, cd ios && pod install, cd android && ./gradlew ktlintCheck

fix: remove redundant Snyk from security workflow
  .github/workflows/security.yml
Due: none

refactor: consolidate security workflows and remove redundant tools
  .github/workflows/claude-review.yml
  .github/workflows/main.yml
  .github/workflows/security.yml
Due: none

feat: add GitHub Copilot integration and consolidate CI workflows
  .github/COPILOT_SETUP.md
  .github/copilot-instructions.md
  .github/instructions/react-native.instructions.md
  .github/instructions/redux.instructions.md
  .github/instructions/theme.instructions.md
  .github/workflows/ci.yml
  .github/workflows/claude-review.yml
  .github/workflows/main.yml
Due: prettier --write

feat: add GitHub Copilot integration (#264)
  .github/COPILOT_SETUP.md
  .github/copilot-instructions.md
  .github/instructions/react-native.instructions.md
  .github/instructions/redux.instructions.md
  .github/instructions/theme.instructions.md
  .github/workflows/ci.yml
  .github/workflows/claude-review.yml
  .github/workflows/main.yml
Due: prettier --write

feat: add Claude skills for GitHub Copilot integration
  .claude/skills/auto-pr.md
  .claude/skills/copilot-agent.md
  .claude/skills/delegate-to-copilot.md
  .claude/skills/dual-review.md
  .claude/skills/sync-copilot-memory.md
  CLAUDE.md
Due: prettier --write

feat: add Claude skills for GitHub Copilot integration (#265)
  .claude/skills/auto-pr.md
  .claude/skills/copilot-agent.md
  .claude/skills/delegate-to-copilot.md
  .claude/skills/dual-review.md
  .claude/skills/sync-copilot-memory.md
  CLAUDE.md
Due: prettier --write

fix: remove YAML anchors from CI workflow
  .github/workflows/ci.yml
Due: none

fix: add missing CodeQL config file
  .github/codeql/codeql-config.yml
Due: none

fix: add id-token permission for Claude GitHub Action
  .github/workflows/claude-review.yml
Due: none

feat: add mystery mode flashing animation and improve range slider
  src/features/timer/components/CircularTimer.tsx
  src/features/timer/components/RangeSlider.tsx
  src/features/timer/screens/TimerSetupScreen.tsx
  src/features/timer/services/storageService.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

refactor: migrate from expo-av to expo-audio
  package-lock.json
  package.json
  src/features/timer/services/soundService.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

feat: add sports buzzer sound for timer alarm
  assets/sounds/buzzer.mp3
  src/features/timer/services/soundService.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

feat: enforce SonarCloud code quality and test coverage
  .github/workflows/ci.yml
  sonar-project.properties
Due: none

fix: add expo-asset peer dependency and make SonarCloud optional
  .github/workflows/ci.yml
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write

feat: add TDD enforcement, plan mode skills, and debug parameters
  .claude/hooks/post-tool-use.sh
  .claude/skills/fresh-start.md
  .claude/skills/plan-feature.md
  CLAUDE.md
  src/features/timer/screens/ActiveTimerScreen.tsx
  src/navigation/AppNavigation.tsx
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

feat: add TDD enforcement, plan mode skills, and debug parameters (#266)
  .claude/hooks/post-tool-use.sh
  .claude/skills/fresh-start.md
  .claude/skills/plan-feature.md
  CLAUDE.md
  src/features/timer/screens/ActiveTimerScreen.tsx
  src/navigation/AppNavigation.tsx
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

chore: trigger CI re-run
  src/navigation/AppNavigation.tsx
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

feat: add volume control slider to timer setup
  app.json
  assets/sounds/alarm-clock.mp3
  package.json
  src/features/timer/components/VolumeSlider.tsx
  src/features/timer/components/index.ts
  src/features/timer/screens/TimerSetupScreen.tsx
  src/features/timer/services/soundService.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

feat: add volume control slider to timer setup (#267)
  app.json
  assets/sounds/alarm-clock.mp3
  package.json
  src/features/timer/components/VolumeSlider.tsx
  src/features/timer/components/index.ts
  src/features/timer/screens/TimerSetupScreen.tsx
  src/features/timer/services/soundService.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix: resolve PR review comments
  src/features/timer/screens/ActiveTimerScreen.tsx
  src/features/timer/screens/TimerSetupScreen.tsx
  src/navigation/index.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix: resolve PR review comments from bots (#268)
  src/features/timer/screens/ActiveTimerScreen.tsx
  src/features/timer/screens/TimerSetupScreen.tsx
  src/navigation/index.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix: UI improvements, new branding, CI self-healing
  .claude/hooks/commit-middleware.sh
  .claude/hooks/post-tool-use.sh
  .claude/hooks/session-start.sh
  .claude/hooks/user-prompt-submit.sh
  .claude/memory/chroma_db/.lessons_hash
  .claude/memory/chroma_db/4a850966-5d52-40d5-8fe8-287d3395ef8e/data_level0.bin
  .claude/memory/chroma_db/4a850966-5d52-40d5-8fe8-287d3395ef8e/header.bin
  .claude/memory/chroma_db/4a850966-5d52-40d5-8fe8-287d3395ef8e/length.bin
  .claude/memory/chroma_db/4a850966-5d52-40d5-8fe8-287d3395ef8e/link_lists.bin
  .claude/memory/chroma_db/chroma.sqlite3
  .claude/memory/feedback/feedback-log.jsonl
  .claude/memory/feedback/feedback-summary.json
  .claude/memory/feedback/tool-metrics.jsonl
  .claude/memory/lessons-learned.md
  .claude/scripts/parallel-claude.sh
  .claude/scripts/ralph-loop.sh
  .github/workflows/main.yml
  .gitignore
  CLAUDE.md
  app.json
  assets/adaptive-icon.png
  assets/icon.png
  assets/splash-icon.png
  src/features/timer/screens/TimerSetupScreen.tsx
  src/features/timer/services/storageService.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

docs: strengthen Act Don't Instruct directive
  CLAUDE.md
Due: prettier --write

fix: adjust timer range defaults and slider thumb size
  src/features/timer/components/RangeSlider.tsx
  src/features/timer/screens/TimerSetupScreen.tsx
  src/features/timer/services/storageService.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

feat: implement Ralph Mode with 2026 best practices
  .claude/scripts/ralph-loop.sh
  .claude/scripts/ralph-review.sh
  .claude/settings.json
  .claude/skills/ralph-mode.md
  .gitignore
  CLAUDE.md
Due: prettier --write

fix: remove invalid expo config command from release workflow
  .github/workflows/release.yml
Due: none

fix: map staging environment to preview EAS profile
  .github/workflows/release.yml
Due: none

fix: configure EAS project for CI builds
  .github/workflows/release.yml
  app.json
  eas.json
Due: prettier --write

fix: add --force flag to create EAS project
  .github/workflows/release.yml
Due: none

fix: reorder workflow steps - update version before EAS init
  .github/workflows/release.yml
Due: none

fix: update app.json version at root level, not under .expo
  .github/workflows/release.yml
Due: none

fix: add staging EAS profile with store distribution
  .github/workflows/release.yml
  eas.json
Due: prettier --write

fix: remove auto-submit, EAS credentials need manual setup
  .github/workflows/release.yml
  eas.json
Due: prettier --write

fix: add CI build profile for simulator/APK builds
  .github/workflows/release.yml
  eas.json
Due: prettier --write

fix: skip Android keystore for CI profile
  eas.json
Due: prettier --write

docs: Update README for native iOS/Android apps
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,json,md}
  eslint --fix: any of: **/*.{ts,tsx}
  jest --bail --findRelatedTests --passWithNoTests: any of: {src,tests}/**/*.{ts,tsx}
  cd ios && swiftlint: any of: ios/**/*.{h,m,mm,swift}
  cd ios && pod install: any of: ios/**/*.{h,m,mm,swift}
  cd android && ./gradlew ktlintCheck: any of: android/**/*.{java,kt}
