Repository IgorGanapolsky/Random-Timer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests, cd ios && swiftlint, cd ios && pod install, cd android && ./gradlew ktlintCheck

Fix TypeScript script module resolution
  scripts/generate-icon.ts
Due: prettier --write, eslint --fix

Allow empty test runs in hooks
  package.json
Due: prettier --write

Document TypeScript-only setup
  README.md
Due: prettier --write

chore: add CLAUDE directives and remove logs
  CLAUDE.md
  logs/badge-health.log
  scripts/autofix.err.log
  scripts/autofix.log
Due: prettier --write

ci: add manual android apk workflow
  .github/workflows/android-apk.yml
Due: none

docs: remove RAG and Langsmith references
  CLAUDE.md
Due: prettier --write

ci: build android apk only after develop merge
  .github/workflows/android-apk.yml
  .github/workflows/ci-cd.yml
Due: none

docs: restore session directives
  CLAUDE.md
Due: prettier --write

ci: make project sync and title checks non-blocking
  .github/workflows/kanban-sync.yml
  .github/workflows/pr-check.yml
  .github/workflows/project-automation.yml
Due: none

chore: clean root artifacts and refresh README
  .agent-task-194.md
  .gitignore
  .idea/.gitignore
  .idea/SuperPassword.iml
  .idea/caches/deviceStreaming.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/vcs.xml
  README.md
  app.json.backup
  logs/badge-health.log
  package.json.backup
  package.json.bak
  scripts/autofix.err.log
  scripts/autofix.log
Due: prettier --write

docs: add CLOUD instructions
  CLOUD.md
Due: prettier --write

Add google-services.json to .gitignore to prevent secret leaks
  .gitignore
Due: none

Add core directives to CLAUDE.md: act don't instruct, TDD, security
  CLAUDE.md
Due: prettier --write

Add Trunk, Husky, and Claude hooks for quality enforcement
  .claude/hooks/commit-middleware.sh
  .claude/hooks/post-tool-use.sh
  .claude/hooks/session-start.sh
  .claude/hooks/user-prompt-submit.sh
  .claude/scripts/parallel-claude.sh
  .claude/scripts/ralph-loop.sh
  .claude/settings.json
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .trunk/trunk.yaml
  package-lock.json
  package.json
Due: prettier --write

feat: add gitleaks secret scanning and Claude skills
  .claude/memory/chroma_db/.lessons_hash
  .claude/memory/chroma_db/4a850966-5d52-40d5-8fe8-287d3395ef8e/data_level0.bin
  .claude/memory/chroma_db/4a850966-5d52-40d5-8fe8-287d3395ef8e/header.bin
  .claude/memory/chroma_db/4a850966-5d52-40d5-8fe8-287d3395ef8e/length.bin
  .claude/memory/chroma_db/4a850966-5d52-40d5-8fe8-287d3395ef8e/link_lists.bin
  .claude/memory/chroma_db/chroma.sqlite3
  .claude/memory/feedback/feedback-log.jsonl
  .claude/memory/feedback/feedback-summary.json
  .claude/memory/feedback/tool-metrics.jsonl
  .claude/memory/lessons-learned.md
  .claude/skills/blind-review/SKILL.md
  .claude/skills/rlhf-feedback/SKILL.md
  .gitleaks.toml
  .husky/pre-commit
  README.md
Due: prettier --write

feat: add gitleaks secret scanning and Claude skills (#261)
  .claude/memory/chroma_db/.lessons_hash
  .claude/memory/chroma_db/4a850966-5d52-40d5-8fe8-287d3395ef8e/data_level0.bin
  .claude/memory/chroma_db/4a850966-5d52-40d5-8fe8-287d3395ef8e/header.bin
  .claude/memory/chroma_db/4a850966-5d52-40d5-8fe8-287d3395ef8e/length.bin
  .claude/memory/chroma_db/4a850966-5d52-40d5-8fe8-287d3395ef8e/link_lists.bin
  .claude/memory/chroma_db/chroma.sqlite3
  .claude/memory/feedback/feedback-log.jsonl
  .claude/memory/feedback/feedback-summary.json
  .claude/memory/feedback/tool-metrics.jsonl
  .claude/memory/lessons-learned.md
  .claude/skills/blind-review/SKILL.md
  .claude/skills/rlhf-feedback/SKILL.md
  .gitleaks.toml
  .husky/pre-commit
  README.md
Due: prettier --write

docs: update SonarCloud configuration status to resolved
  .claude/memory/lessons-learned.md
Due: prettier --write

docs: add security policy for vulnerability reporting
  SECURITY.md
Due: prettier --write

fix: consistent vertical spacing between home and countdown screens
  src/features/timer/screens/ActiveTimerScreen.tsx
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

chore: align eslint import/order rule with trunk check
  .eslintrc.js
Due: none

chore: add passWithNoTests to jest config
  jest.config.js
Due: none

feat: hide progress bar in mystery mode + fix CI workflows
  .github/workflows/analytics.yml
  .github/workflows/ci.yml
  .github/workflows/claude-review.yml
  .github/workflows/enforce-develop-to-main.yml
  .github/workflows/main.yml
  .github/workflows/projects-perms-check.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/status-issue.yml
  src/features/timer/components/CircularTimer.tsx
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix: resolve lint errors blocking CI
  .eslintrc.js
  src/features/timer/components/RangeSlider.tsx
  src/features/timer/components/TimerControls.tsx
  src/features/timer/services/soundService.ts
  src/shared/components/Button.tsx
  src/shared/components/Text.tsx
  src/shared/test/setup.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix: update Expo dependencies to SDK 54 expected versions
  package-lock.json
  package.json
Due: prettier --write

fix: add @react-native-community/cli dev dependency
  package-lock.json
  package.json
Due: prettier --write

fix: add fmt script alias for CI workflow
  package.json
Due: prettier --write

security: fix code injection vulnerabilities in GitHub workflows
  .github/workflows/enforce-develop-to-main.yml
  .github/workflows/release.yml
Due: none

security: move permissions from workflow level to job level
  .github/workflows/analytics.yml
  .github/workflows/ci.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

fix: merge duplicate env blocks in release.yml notify step
  .github/workflows/release.yml
Due: none

ci: make SonarCloud step non-blocking in main.yml
  .github/workflows/main.yml
Due: none

fix: update snyk action to use @master version
  .github/workflows/main.yml
Due: none

security: add OWASP suppression for React Server Components CVEs
  .github/config/dependency-check-suppressions.xml
  .github/workflows/main.yml
Due: none

fix: correct OWASP suppression XML schema namespace
  .github/config/dependency-check-suppressions.xml
Due: none

feat: hide progress bar in mystery mode + fix CI workflows (#262)
  .eslintrc.js
  .github/config/dependency-check-suppressions.xml
  .github/workflows/analytics.yml
  .github/workflows/ci.yml
  .github/workflows/claude-review.yml
  .github/workflows/enforce-develop-to-main.yml
  .github/workflows/main.yml
  .github/workflows/projects-perms-check.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/status-issue.yml
  package-lock.json
  package.json
  src/features/timer/components/CircularTimer.tsx
  src/features/timer/components/RangeSlider.tsx
  src/features/timer/components/TimerControls.tsx
  src/features/timer/services/soundService.ts
  src/shared/components/Button.tsx
  src/shared/components/Text.tsx
  src/shared/test/setup.ts
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix: update deprecated GitHub Actions to v4
  .github/workflows/ci.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

fix: remove unnecessary EAS build from CI workflow
  .github/workflows/ci.yml
Due: none

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,json,md}
  eslint --fix: any of: **/*.{ts,tsx}
  jest --bail --findRelatedTests --passWithNoTests: any of: {src,tests}/**/*.{ts,tsx}
  cd ios && swiftlint: any of: ios/**/*.{h,m,mm,swift}
  cd ios && pod install: any of: ios/**/*.{h,m,mm,swift}
  cd android && ./gradlew ktlintCheck: any of: android/**/*.{java,kt}
